@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    --gray: #909090;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {}

.visibility {
    display: none;
}

#container {
    margin: 0 auto;
    max-width: 640px;
}

#game-header {
    padding: 2rem;
    text-align: center;
}

#game-title {
    font-size: 3rem;
}

#honour {
    color: var(--gray);
    font-size: 0.75rem;
    padding: 0.5rem 0 1rem;
}

#game-start {
    text-align: center;
}

#start-button,
#submit-button {
    font-size: 1rem;
    padding: 15px;
}

#game-board {
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#game-stats {
    color: var(--gray);
    display: flex;
    font-size: 0.75rem;
    justify-content: space-between;
}

#game-question {
    padding: 50px 25px 25px;
}

#game-question {
    font-size: 2rem;
    text-align: center;
}

#game-choices {
    padding: 0 30px;
}

#game-choices li {
    padding: 5px 0;
}

#game-submit-answer {
    padding-top: 15px;
    text-align: center;
}



