@import url('https://fonts.googleapis.com/css?family=Lato');

:root {
    --gray: #909090;
}

/** {
    border: 0.5px solid red !important;
}*/

html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    padding: 20px 0;
}

.hidden {
    display: none;
}

.visibility {
    visibility: hidden;
}

#container {
    margin: auto;
    max-width: 640px;
    text-align: center;
}

#game-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

#game {
    /*padding: .9rem;*/
}

button {
    font-size: 1.25rem;
    margin-top: 2rem ;
    padding: 1rem;

}

.game-progress {
    color: var(--gray);
    padding: 1rem;
}

.game-score {
    font-size: 1rem;
    padding: 1rem;
}

.game-question {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

.game-answer li {
    padding: .5rem;
    list-style: none;
}

.game-answer li label {
    margin-right: -3px;
}

.game-result p {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 1rem 0;
}
